@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li .active {
  &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      margin-top: 5px;
      transition: .2s;
  }
}

@media (max-width: 824px) {
  body {
    overflow-x: hidden;
  }
}

input {
  height: 40px;
  padding: 0 1rem;
  font-size: 15px;
}

.errorInput {
  outline-color: red !important;
  border: red 2px solid !important;
  animation: .2s tremida;
}

.errorText {
  text-align: left;
  color: red;
  font-size: 14px;
}

@keyframes tremida {
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}